body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  
  background-image: url('mosquee.jpg');
  
  background-size: cover;         
  background-position: center;     
  background-repeat: no-repeat;   
  background-attachment: fixed;   
}

.container {
  background-color: rgba(255, 255, 255, 0.7); /* Fond blanc semi-transparent */
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}